@charset "UTF-8";

div.talign {
  display: inline-block;
  width: 200px;
  padding: 20px 0;
  background-color: #ffffff;
}

div.talign>div {
  text-align: center;
}

p.talign {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  background-color: #a4b3e9;
}

div.marginbox {
  width: 200px;
  padding: 20px 0;
  background-color: #ffffff;
}

div.marginbox>div {
  text-align: center;
  margin: 0 auto;
}

p.marginbox {
  display: inline-block;
  width: 90px;
  padding: 10px;
  font-size: 16px;
  background-color: #a4b3e9;
}

div.tablebox {
  display: table;
}

div.tablebox>div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

p.tablebox {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
}

div.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.flexbox {
  padding: 10px;
  background-color: #ffffff;
}

div.positionbox {
  position: relative;
}

p.positionbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #a4b3e9;
}
